
<header>
    <div class="nav">
    <ul class="top">
        <% if(locals.user)  {%>

            <li class="lis"><a href="/users/profile/<%= user.id %>" class="sign"><%= user.name %></a></li>
            <li class="lis">
                <a href="/users/sign-out" class="sign">Sign out</a>
            </li>

        <% } else {%>
            <li class="lis">
                Codeial
            </li>
            <span>
            <li class="lis">
                <a href="/users/sign-in" class="sign">Sign In</a>
            </li>
            <li class="lis">
                <a href="/users/sign-up" class="sign">Sign Up</a>
            </li>
        </span>
        <%}%>
    </ul>
</div>
</header>
